head
    include ./head.pug
     link(rel="stylesheet" href="APlayer.min.css")
     div(id="aplayer")
     script(src="https://cdn.jsdelivr.net/gh/radium-bit/res@master/live2d/autoload.js" async)
     script(src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js" async)
  body
